Repository hsuan-sp/mdm-docs-superinfo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: resolve CSS variable conflicts and restore UI layout
  app/globals.css
  components/features/Home.tsx
  lib/shards/manifest.json
  next-env.d.ts
  styles/globals.css
  tailwind.config.mjs
Due: prettier --write, eslint --fix

fix: resolve all lint errors and finalized auth/deployment
  components/ui/AuthGate.tsx
  hooks/useLogtoUser.tsx
Due: prettier --write, eslint --fix

fix: resolve all lint errors and finalized auth/deployment
  components/features/Guide.tsx
  components/ui/AuthGate.tsx
  hooks/useLogtoUser.tsx
Due: prettier --write, eslint --fix

chore: remove deprecated husky boilerplate
  .husky/pre-commit
Due: none

chore: completely remove github pages deployment and related logic
  .github/workflows/deploy.yml
  README.md
  components/features/AuthGuard.tsx
  components/features/Glossary.tsx
  components/features/Guide.tsx
  components/ui/AuthGate.tsx
  hooks/useLogtoUser.tsx
  next.config.mjs
  package.json
Due: prettier --write, eslint --fix

feat: Finalize Apple Pro aesthetic with Precision Edge system and consistency fixes
  app/globals.css
  app/layout.tsx
  components/features/Changelog.tsx
  components/features/Glossary.tsx
  components/features/Guide.tsx
  components/features/Home.tsx
  components/features/SecurityGuard.tsx
  components/features/UserCenter.tsx
  components/layout/MobileNav.tsx
  components/layout/NavbarItems.tsx
  components/ui/AuthGate.tsx
  components/ui/GeometricBackground.tsx
  docs/LOGTO_CSS.css
  lib/shards/manifest.json
  lib/shards/qa-en-account.json
  lib/shards/qa-en-apps.json
  lib/shards/qa-en-classroom.json
  lib/shards/qa-en-digital-learning.json
  lib/shards/qa-en-enrollment.json
  lib/shards/qa-en-hardware.json
  lib/shards/qa-en-mac.json
  lib/shards/qa-en-qa-education.json
  lib/shards/qa-zh-account.json
  lib/shards/qa-zh-apps.json
  lib/shards/qa-zh-classroom.json
  lib/shards/qa-zh-digital-learning.json
  lib/shards/qa-zh-enrollment.json
  lib/shards/qa-zh-hardware.json
  lib/shards/qa-zh-mac.json
  lib/shards/qa-zh-qa-education.json
  locales/en.ts
  locales/zh-TW.ts
  package-lock.json
  package.json
  public/images/assets/prismatic-glow.png
  scripts/build-data.mjs
Due: prettier --write, eslint --fix

fix: Critical UX improvements - WCAG-compliant colors, unified navigation, and visible buttons
  app/globals.css
  components/features/Changelog.tsx
  components/features/Glossary.tsx
  components/features/Guide.tsx
  components/ui/BackButton.tsx
Due: prettier --write, eslint --fix

fix: Revert BackButton addition and focus on actual UX issues
  components/features/Changelog.tsx
  components/features/Glossary.tsx
  components/features/Guide.tsx
  components/ui/BackButton.tsx
Due: prettier --write, eslint --fix

fix: Final UX improvements - button visibility and color refinement
  app/globals.css
  components/features/Home.tsx
Due: prettier --write, eslint --fix

fix: Restore working Dark Mode and maximize readability
  app/globals.css
  components/ui/GeometricBackground.tsx
  lib/shards/manifest.json
  tailwind.config.mjs
Due: prettier --write, eslint --fix

fix: Complete dark mode and visibility fixes
  app/globals.css
  lib/shards/manifest.json
Due: prettier --write

fix: Simple CSS-based dark mode (bypass Tailwind dark: variant)
  app/globals.css
  components/ui/GeometricBackground.tsx
  lib/shards/manifest.json
Due: prettier --write, eslint --fix

fix: Final comprehensive dark mode and readability improvements
  app/globals.css
  lib/shards/manifest.json
Due: prettier --write

fix: UserCenter mobile dark mode colors
  app/globals.css
Due: prettier --write

fix: Complete zinc color palette dark mode coverage
  app/globals.css
Due: prettier --write

fix: Add missing apple-dark-* variables for subpages
  app/globals.css
Due: prettier --write

fix: Improve keyboard accessibility with focus-visible states
  app/globals.css
  components/features/Home.tsx
  components/ui/BackToTop.tsx
Due: prettier --write, eslint --fix

fix: UI/UX improvements batch 1 (Priority 1-4)
  app/globals.css
  components/features/Glossary.tsx
  components/features/Guide.tsx
  components/layout/MobileNav.tsx
  components/layout/NavbarItems.tsx
Due: prettier --write, eslint --fix

fix: UI/UX improvements batch 2 (Priority 5 & 7)
  app/globals.css
  components/features/Glossary.tsx
  components/features/Guide.tsx
  components/ui/Skeleton.tsx
  lib/utils.ts
Due: prettier --write, eslint --fix

fix: UI/UX improvements batch 3 (Final Items 6, 8, 9, 10)
  components/features/Glossary.tsx
  components/features/Guide.tsx
  components/layout/MobileNav.tsx
  components/layout/NavbarItems.tsx
  components/ui/NoResults.tsx
Due: prettier --write, eslint --fix

refactor: improve type safety and syntax in Glossary, Guide, and NavbarItems
  components/features/Glossary.tsx
  components/features/Guide.tsx
  components/layout/NavbarItems.tsx
  lib/shards/manifest.json
Due: prettier --write, eslint --fix

style: optimize tailwind classes for touch targets
  components/features/Glossary.tsx
  components/features/Guide.tsx
  components/layout/NavbarItems.tsx
Due: prettier --write, eslint --fix

UI/UX polishing: Enhanced mobile filters, accessibility, and touch targets across all components
  components/features/Changelog.tsx
  components/features/Glossary.tsx
  components/features/Guide.tsx
  components/features/Home.tsx
  components/features/ReportIssue.tsx
  components/features/UserCenter.tsx
  components/layout/Footer.tsx
  components/layout/MobileNav.tsx
  components/layout/NavbarItems.tsx
  components/ui/AuthGate.tsx
  components/ui/EmptyState.tsx
  components/ui/NoResults.tsx
  components/ui/ReportIssueDialog.tsx
  components/ui/Skeleton.tsx
  hooks/useDebounce.ts
  lib/shards/manifest.json
  types.ts
Due: prettier --write, eslint --fix

Fix ESLint configuration: Downgrade to ESLint 8 and compatible config
  package-lock.json
  package.json
Due: prettier --write

Update docs, optimize auth UX, and fix i18n
  README.md
  components/features/UserCenter.tsx
  components/ui/AuthGate.tsx
  lib/shards/manifest.json
  locales/en.ts
  locales/zh-TW.ts
  md_data/en/changelog/v1.0.0.md
  md_data/zh/changelog/v1.0.0.md
Due: prettier --write, eslint --fix

fix: unify Guide and Glossary filter design + migrate to ESLint 9 flat config
  .eslintrc.json
  components/features/Glossary.tsx
  eslint.config.mjs
  lib/shards/changelog-en.json
  lib/shards/changelog-zh.json
  lib/shards/manifest.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat: 2026 visual upgrade - enhanced depth system, premium cards, and refined dark mode
  app/globals.css
  components/features/Glossary.tsx
  components/features/Guide.tsx
Due: prettier --write, eslint --fix

feat: complete visual overhaul
  app/globals.css
  components/features/Changelog.tsx
  components/features/Glossary.tsx
  components/features/Guide.tsx
  md_data/en/changelog/v1.0.0.md
  md_data/zh/changelog/v1.0.0.md
Due: prettier --write, eslint --fix

feat(ui): 2026 Liquid Glass Design System
  app/globals.css
  components/features/Guide.tsx
Due: prettier --write, eslint --fix

feat(content): rewrite changelog v1.0.0
  components/features/Changelog.tsx
  md_data/en/changelog/v1.0.0.md
  md_data/zh/changelog/v1.0.0.md
Due: prettier --write, eslint --fix

feat(ui): Liquid Glass 2.0 & Typography Fixes
  app/globals.css
  lib/shards/changelog-en.json
  lib/shards/changelog-zh.json
  lib/shards/manifest.json
  package-lock.json
  package.json
  tailwind.config.mjs
Due: prettier --write, eslint --fix

feat(ui): Liquid Glass 3.0 with SVG refraction filters
  app/globals.css
  app/layout.tsx
  components/ui/LiquidGlassFilter.tsx
  lib/shards/manifest.json
Due: prettier --write, eslint --fix

refactor(ui): Simplify Liquid Glass to pure CSS
  app/globals.css
  app/layout.tsx
  components/features/Home.tsx
  components/ui/LiquidGlassFilter.tsx
Due: prettier --write, eslint --fix

style(ui): Unify Liquid Glass across all components
  app/globals.css
Due: prettier --write

style(ui): Final polish for Liquid Glass contrast
  app/globals.css
  components/ui/GeometricBackground.tsx
  lib/shards/manifest.json
Due: prettier --write, eslint --fix

style(ui): Final 'Real Glass' polish
  app/globals.css
Due: prettier --write

feat(ui): Liquid Glass V4 - Aurora & Liquid Sheen
  app/globals.css
  components/features/Changelog.tsx
  components/features/Glossary.tsx
  components/features/Guide.tsx
  components/features/Home.tsx
  components/ui/CardSheen.tsx
  components/ui/GeometricBackground.tsx
Due: prettier --write, eslint --fix

style(ui): Enhance glass transparency and clarity
  app/globals.css
Due: prettier --write

fix(ui): Improve readability for content pages
  app/globals.css
  components/features/Changelog.tsx
  components/features/Glossary.tsx
  components/features/Guide.tsx
Due: prettier --write, eslint --fix

style(ui): Perfecting glass cards & typography
  app/globals.css
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs,cjs}) or (any of: *.{json,css,scss,md,mdx,yml,yaml})
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs,cjs}
